
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font: weight 400px;
    font-style: normal;
    font-variation-settings: ;

  }

  .header {
    background-image: url(images/Hero-bg.png);
  
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 150px;
}
nav title{
    font-size: 50px;

}
.text-primary{
    color: #4E47FF;
    
}
nav ul li { 
    list-style: none;
}
nav li a {
    text-decoration: none;

}
.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color:#FFFFFF;
    font-size: 10px;
    border-radius: 8px;
    padding: 10px 25px;
    border: none;


} 
div{
    text-align: center;
}
.banner-profile-picture {
    width: 403px;
    border-radius: 48px;


}
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.banner-2 {
    text-align: left;
    max-width: 60%; 
}

.banner-profile-picture {
    max-width: 200px; 
    height: auto;
}
